* {
  margin: 0px;
  padding: 0px;
  color: white;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 32px;
  color: #e6533c;
  font-style: italic;
  font-weight: bold;
}

.title {
  font-size: 48px;
}
.sub-title {
  font-size: 24px;
}

text,
p {
  font-size: 16;
  color: rgba(255, 255, 255, 0.5);
  text-wrap: balance;
  text-align: center;
}

.btn-primary {
  background-color: #e6533c;
  padding: 12px 60px;
  margin-right: 28px;
  border-radius: 30px;
  border-color: black;
}
.btn-transparent {
  background-color: transparent;
  padding: 12px 60px;
  border-radius: 30px;
  border-color: white;
}

header {
  /* background: black; */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 100),
    rgba(40, 40, 40, 100),
    rgba(0, 0, 0, 50)
  );
}
nav {
  /* background: black; */
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

header menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  list-style-type: none;
}
header menu ul li {
  margin-right: 12px;
  text-decoration: none;
}

#banner {
  /* background-color: black; */
}
#banner-container {
  display: flex;
  width: 100%;
  height: 80vh;
  max-width: 1200px;
  margin: 24px auto;
}

#banner-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: pretty;
}
#banner-content h1 {
  font-size: 60px;
  font-weight: 800;
}
#banner-image {
  width: 50%;
  background-image: url("../images/banner-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

main {
  background: black;
}

#change-habits {
  max-width: 1200px;
  margin: auto;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

#change-habits-card-container {
  justify-content: space-between;
  gap: 50px;
}
.change-habits-card {
  row-gap: 16px;
}

.change-habits-card img {
  /* width: 100px;
  height: 100px; */
  width: 200px;
  border-radius: 50%;
  border: 1px solid white;
}
