* {
  margin: 0px;
  padding: 0px;
  color: white;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 32px;
  color: #e6533c;
  font-style: italic;
  font-weight: bold;
}

.title {
  font-size: 48px;
}
.sub-title {
  font-size: 24px;
}

.text,
p {
  font-size: 16;
  color: rgba(255, 255, 255, 0.5);
  text-wrap: balance;
  text-align: center;
}

.btn-primary {
  background-color: #e6533c;
  padding: 12px 60px;
  margin-right: 28px;
  border-radius: 30px;
  border-color: black;
}
.btn-transparent {
  background-color: transparent;
  padding: 12px 60px;
  border-radius: 30px;
  border-color: white;
}

header {
  /* background: black; */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 100),
    rgba(40, 40, 40, 100),
    rgba(0, 0, 0, 50)
  );
}
nav {
  /* background: black; */
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

header menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  list-style-type: none;
}
header menu ul li {
  margin-right: 12px;
  text-decoration: none;
}

#banner {
  /* background-color: black; */
}
#banner-container {
  display: flex;
  width: 100%;
  height: 80vh;
  max-width: 1200px;
  margin: 24px auto;
}

#banner-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: pretty;
}
#banner-content h1 {
  font-size: 60px;
  font-weight: 800;
}
#banner-image {
  width: 50%;
  background-image: url("../images/banner-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

main {
  background: black;
}

#change-habits {
  max-width: 1200px;
  margin: auto;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

#change-habits-card-container {
  justify-content: space-between;
  gap: 50px;
}
.change-habits-card {
  row-gap: 16px;
}

.change-habits-card img {
  /* width: 100px;
  height: 100px; */
  width: 200px;
  border-radius: 50%;
  border: 1px solid white;
}

#run-extra-mile {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  border-radius: 12px;
  width: full;
  background-color: rgb(34, 34, 34);
}
#run-extra-mile-content {
  /* width: 50%; */
}
#run-extra-mile-img-container {
  width: 50%;
}
#run-extra-mile-img {
  width: 70%;
  height: 250px;
  background-image: url("../images/run.jpg");
  background-clip: content-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

#training-exercise {
  max-width: 1200px;
  margin: auto;
  padding: 40px 0px;
}

#training-exercise-img-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal-width columns */
  /* grid-gap: 10px; */
}

.grid-item {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.img1 {
  grid-column: span 1; /* Takes 1 column space */
  background-color: rgba(6, 255, 210, 0.5);
  background-blend-mode: multiply;
}
.img2 {
  grid-column: span 3;
}
.img3 {
  grid-column: span 1;
}
.img4 {
  grid-column: span 2;
}
.img5 {
  grid-column: span 1;
}
.img6 {
  grid-column: span 2;
}

#bmi {
  margin: auto;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}
#bmi-content {
  width: 100%;
  background-color: rgb(34, 34, 34);
  /* background-color: white; */
}
#bmi-content-container {
  max-width: 1200px;
  margin: 40px auto;
  justify-content: space-between;
  gap: 20px;
}
#bmi-chart {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 80px;
}

table {
  width: 70%;
  height: 100%;
  border-collapse: collapse; /* Ensures no gaps between borders */
  /* border: 1px solid black; */
}

th,
td {
  font-size: 16;
  border: 1px solid rgba(255, 255, 255, 0.5); /* Sets border for table cells */
  padding: 8px; /* Adds padding inside cells */
  text-align: center; /* Centers text in cells */
}
td {
  color: rgba(255, 255, 255, 0.5);
}

#bmi-calculator {
  width: 50%;
  align-items: start;
  row-gap: 10px;
  text-align: left;
}

form input,
#sex {
  width: 35%;
  padding: 10px 20px;
  margin: 12px 12px 12px 0px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: none;
}
#sex {
  width: 42%;
}

#activity-factor {
  width: 87%;
  padding: 10px 20px;
  margin: 12px 12px 12px 0px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: none;
}
